<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qtec.speech" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />



    <application
        android:name="debug.Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.baidu.speech.APP_ID"
            android:value="14889959" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="7ALzvKGloG4wRP9dZoMaqqOu" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="Lt6dSDAEMnBdOW2Gyl2bnPIGE0Qx0vp5" />

        <activity android:name="debug.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />

    </application>

</manifest>
